@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #F0EAD6; /* Eggshell */
    --foreground: #2D3436;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-monserrat), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
    body {
        background-size: 50%;
    }
}

@media (min-width: 1024px) {
    body {
        background-size: 30%;
    }
}
